<!-- Directives are classes that add additional behavior to elements in your angular applications.
     - Structural directives are directives which change the DOM layout by adding and removing DOM elements.
       e.g: *ngFor - structural directive -->

<!-- jQuery - a library that manipulates DOM (Document Object Model) -->

<ngx-spinner type="line-scale-party">
  <h3>loading...</h3>
</ngx-spinner>

<app-nav></app-nav>

<div class="container" style="margin-top: 150px">
  <!-- <app-home></app-home> -->
  <router-outlet></router-outlet>
</div>

